@import "partials/variablesMixins";

nav {
	padding-top: 4.32%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #7aceff;
	padding-bottom: 1.9375rem;
}
.nav {
	display: flex;
	list-style-type: none;
	width: 62.77%;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

#nav__toggle {
	display: none;
}

.label__toggle {
	display: none;
}

.nav__item {
	font-size: 1.125rem;
	flex-basis: 62px;
	flex-shrink: 1;
}

.nav__item a {
	position: relative;
}

.nav__item a:after {
	content:"";
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 0;
	background: #fff;
	height: 1px;
	margin: auto;
}

.nav__item a:hover:after {
	width: 100%;
	transition: all 0.4s;
}

.nav__item button{ 
	border-radius: 5px;
}

.nav__item a:not(.nav__item--signUp) {
	color: #fff;
}

.nav__button {
	border-radius: 10%;
	flex-grow: 0;
	flex-shrink: 1;
}

.nav__button--login {
	color: #fff;
	background: none;
	border: 2px solid #fff;
}

.nav__button--login:hover {
	background: #fff;
	color: $signUpColor;
	transition: all 0.18s ease-in;
}

.nav__button--signUp {
	background-color: #fff;
	color: $signUpColor;
	white-space: nowrap;
	border: 2px solid #fff;
}

.nav__logo {
	height: 3.1vh;
}

@media(max-width: 1170px) {
}

@media (max-width: 940px) {
	.nav__item {
		font-size: 0.8125rem;
	}

	.nav__logo {
		margin-left: 2rem;
	}

	.nav {
		margin-right: 2rem;
	}
}


@media (max-width: 768px) {

	nav {
		padding-top: 4%;
	}

	.label__toggle {
		display: block;
		color: #fff;
		font-size: 1.5rem;
		margin-right: 1.5rem;
	}

	.nav__logo {
		margin-left: 1.5rem;
	}

}


@media (max-width: 480px) {

}